<div class="main-content">
 
  <nav aria-label="breadcrumb" style="margin-left: 1%;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/questions']">Questions</a></li>

      <li class="breadcrumb-item active" aria-current="page"> View Questions</li>
    </ol>
  </nav>
 <div class="row">

   <div class="col-md-6">
     <h2 class="text-warning font-weight-bold ml-3">View Questions</h2>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary shadow rounded-pill float-right" (click)="editgo()">Edit</button>
    </div>
    
  </div>
    <div class="card shadow">
    <div class="row mt-5 ml-2">
      <div class="col-md-4">
        <h5 class="text-primary font-weight-bold">Quiz Round</h5>
        <input name="quizNo" required #quizNo ="ngModel" type="number" [class.is-invalid]= "quizNo.invalid  && quizNo.touched" class="form-control col-md-4" placeholder="Quiz number" [(ngModel)]="data.quizNo" disabled>
        <!-- <label class="text-danger" *ngIf="userForm.submitted && quizNo.errors?.required" >Quiz Number required</label>    -->
      </div>
      <div class="col-md-4">
        <h5 class="text-primary font-weight-bold">Month</h5>
        <select name="month" required #month ="ngModel" class="form-control"  [(ngModel)]="data.month" disabled>
          <option value="">Select Month</option>
          <option value="January">January</option>
          <option value="February">February</option> 
          <option value="March">March</option> 
          <option value="April">April</option> 
          <option value="May">May</option> 
          <option value="June">June</option> 
          <option value="July">July</option> 
          <option value="August">August</option> 
          <option value="September">September</option> 
          <option value="October">October</option> 
          <option value="November">November</option> 
          <option value="December">December</option> 
        </select>
      </div>
      <div class="col-md-4">
        <h5 class="text-primary font-weight-bold">Sort order</h5>
        <input name="sort_order" required #sort_order ="ngModel" type="number" [class.is-invalid]= "sort_order.invalid  && sort_order.touched" class="form-control col-md-4" placeholder="sort_order " [(ngModel)]="data.sort_order" disabled> 
        <!-- <label class="text-danger" *ngIf="userForm.submitted && sort_order.errors?.required" >sort_order required</label>    -->
      </div>
     
    </div>
      <div class="row mt-4 ml-3">
       <div class="col-md-8">
             <h5 class="text-primary font-weight-bold">Question</h5> 
            <input name="questionEn" required #questionEn ="ngModel" type="text" class="form-control" placeholder="Enter the Question" [(ngModel)]="data.question" disabled><br>
            <!-- <label *ngIf="userForm.submitted && questionEn.errors?.required" class="text-danger">Question is required</label>  -->
          </div>
          <div class="col-md-4">
            <h5 class="text-primary font-weight-bold">Points</h5>
            <input name="points" required #points ="ngModel" type="number" [class.is-invalid]= "points.invalid  && points.touched" class="form-control col-md-6" placeholder="Enter the Point" [(ngModel)]="data.point" disabled>
            <!-- <label class="text-danger" *ngIf="userForm.submitted && points.errors?.required" >Point is required</label>    -->
          </div>
        </div>
        <div class="row mt-4 mb-4" style="margin: 0%;">
          <div class="col-md-6">
            <h5 class="text-primary font-weight-bold">Option A</h5>
            <div class="row">
            <div class="col-md-8">
              <input name="optionA" required #optionA ="ngModel" type="text" class="form-control" placeholder="Enter Option A" [(ngModel)]="data.options[0].option" disabled><br>
              <!-- <label *ngIf="userForm.submitted && optionA.errors?.required" class="text-danger">Option A is required</label>  -->
            </div>   
            <div class="col-md-4">   
              <select name="a" required #a ="ngModel" class="form-control"  [(ngModel)]="data.options[0].key" disabled>
                <option value="">isTrue.?</option>
                <option value="false">False</option>
                <option value="true">True</option> 
              </select>
              <!-- <label class="text-danger" *ngIf="userForm.submitted && a.errors?.required"  >Field is required</label>  -->
            </div> 
          </div>
          </div>
          <div class="col-md-6">
            <h5 class="text-primary font-weight-bold">Option B</h5>
            <div class="row">
            <div class="col-md-8">
             <input name="optionB" required #optionB ="ngModel" type="text" class="form-control" placeholder="Enter Option B" [(ngModel)]="data.options[1].option" disabled><br>
             <!-- <label *ngIf="userForm.submitted && optionB.errors?.required" class="text-danger">Option B is required</label>  -->
            </div>   
            <div class="col-md-4">  
            <select name="b" required #b ="ngModel" class="form-control"  [(ngModel)]="data.options[1].key" disabled>
              <option value="">isTrue.?</option>
              <option value="false">False</option>
              <option value="true">True</option> 
            </select>
            <!-- <label class="text-danger" *ngIf="userForm.submitted && b.errors?.required"  >Field is required</label>  -->
           </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin: 0%;">
          <div class="col-md-6">
            <h5 class="text-primary font-weight-bold">Option C</h5>
            <div class="row">
            <div class="col-md-8">
              <input name="optionC" required #optionC ="ngModel" type="text" class="form-control" placeholder="Enter Option C" [(ngModel)]="data.options[2].option" disabled><br>
              <!-- <label *ngIf="userForm.submitted && optionC.errors?.required" class="text-danger">Option C is required</label>  -->
            </div>   
            <div class="col-md-4">   
              <select name="c" required #c ="ngModel" class="form-control"  [(ngModel)]="data.options[2].key" disabled>
                <option value="">isTrue.?</option>
                <option value="false">False</option>
                <option value="true">True</option> 
              </select>
              <!-- <label class="text-danger" *ngIf="userForm.submitted && c.errors?.required"  >Field is required</label>  -->
            </div> 
          </div>
          </div>
          <div class="col-md-6">
            <h5 class="text-primary font-weight-bold">Option D</h5>
          <div class="row">
            <div class="col-md-8">
             <input name="optionD" required #optionD ="ngModel" type="text" class="form-control" placeholder="Enter Option D" [(ngModel)]="data.options[3].option" disabled><br>
             <!-- <label *ngIf="userForm.submitted && optionD.errors?.required" class="text-danger">Option D is required</label>  -->
            </div>   
            <div class="col-md-4">  
            <select name="d" required #d ="ngModel" class="form-control"  [(ngModel)]="data.options[3].key" disabled>
              <option value="">isTrue.?</option>
              <option value="false">False</option>
              <option value="true">True</option> 
            </select>
            <!-- <label class="text-danger" *ngIf="userForm.submitted && d.errors?.required"  >Field is required</label>  -->
           </div>
          </div>
          </div>
        </div>
     
     <div class="mt-3 mb-4 ml-auto mr-auto">
      <a [routerLink]="['/questions']" class="btn btn-success">Back</a>
     </div>
    </div>
  <!-- </form> -->

    </div>
















