
  
<div class="jumbotron" style="padding:1%;padding-bottom: 0%;">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">
          <div class="card-header" align="center">
              <!-- <a >
                  <img class="img" src="../../assets/img/green.png" />
              </a> -->
          </div>
          <div class="card-body">
              
            <form #userForm= "ngForm" (ngSubmit)="userForm.valid && onsubmit()" >
                    <div class="col-md-10" style="margin-top: 2%;">
                      <h5 class="text-success">Phone *</h5>
                      <input name="rk" required #rk="ngModel" type="text" class="form-control" pattern="^((\\+91-?)|0)?[0-9]{10}$" [(ngModel)]="data.phone">
                      <span  *ngIf="userForm.submitted && rk.errors?.required">Please enter Mobile  name</span>
                      <small *ngIf="rk.errors?.pattern" class="text-danger">Please provide a Mobile number</small>
                    </div>

            
<div align="center" style="margin-top: 2%;">
  <button  class="btn btn-danger btn-round" (click) = "clicks()">Generate otp</button>
</div>
</form>
     
        <div id="rr" class="col-md-10" style="margin-top: 2%;">
          <input name="zt" type="text" class="form-control" placeholder="Enter otp" [(ngModel)]="data2.otp">
       </div>
       <div  align="center" style="margin-top: 2%;">
        <button id="z"  class="btn btn-danger btn-round" (click) = "clicks2()">Generate new password</button>
      </div>
      <div id="rr3" class="col-md-10" style="margin-top: 2%;">
        <input name="zt2" type="password" class="form-control" placeholder="Enter New password" [(ngModel)]="pa">
     </div>
     <div id="rr1" class="col-md-10" style="margin-top: 2%;">
      <input name="zt" type="password" class="form-control" placeholder="Retype password" [(ngModel)]="dataa2.password">
   </div>
     <div  align="center" style="margin-top: 2%;" *ngIf="dataa2.password==pa">
      <button id="z2"  class="btn btn-danger btn-round" (click) = "click3()">Login</button>
    </div>
<!-- 
      <div style="margin-left: 2%; ">
        <a style="color: blue;" routerLink="['/forget-password']">Forgot Password.!</a>
      </div> -->

   
   


              
          </div>
      </div>
  </div>
  <div class="col-md-4"></div>
  </div>
 
    
</div>


<!-- <app-footer></app-footer> -->